ext {
    zapposApiKey = "<zapposApiKey>"
    sixPmApiKey = "<sixPmApiKey>"
    keyStorePath="<keystorepath>"
    keyStorePassword="<keystorePassword>"
    keyAlias="<alias>"
    keyPassword="<keyPassword>"
}
